{% extends "base.html" %}

{% block content %}
<div id="main">
    <div class="inner">
    {% block content_title %}
        <header>
            <h1>Portfolio of AI and Data Driven Solutions<!--,<br />--></h1>
            <p>Whether you need a self-starter for AI readiness or a team player to enhance and maintain systems, my examples illustrate my AI development abilities. With a strong foundation in Data Science, including a first-class master's degree, software development diploma, and published research, I can tackle complex AI challenges and offer effective solutions for data-driven decision-making, intelligent applications, and valuable insights.</p>
          </header>
    {% endblock %}
      <section class="tiles">
            {% for article in articles_page.object_list %}
                <article class="{{ article.style }}">
                    <span class="image">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{article.summary_image}}" alt="" />
                    </span>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                    <h2 rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</h2>
                    <div class="content">
                        <p>{{ article.summary }}</p>
                    </div>
                    </a>
                </article>
            {% endfor %}
        </section>
    </div>
</div>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
